@media (max-width: 576px) {
    .contacto .contacto-content {
        justify-content: start!important;
    }
	.contacto a {
		font-size: 12px;
	}
}

.contacto {
    padding-top: 50px;
    padding-bottom: 80px;
}
.contacto .row {
    justify-content: center;
    align-items: center;
}
.contacto h5 {
    margin-bottom: 50px;
}
.contacto a, .contacto a:visited {
    color: black;
    text-decoration: none;
}
.contacto a:hover, .contacto a:focus {
    color: #00897B;
}
