.Experiencia {
    padding-top: 50px;
}
.Experiencia-card {
	max-width: 550px;
	width: 100%;
    background-color: #f5f5f5;
    border: 2px solid #00897B;
	position: relative;
	margin: 25px auto;
	padding: 10px;
}
.Experiencia-card:after, .Experiencia-card:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.Experiencia-card:after {
	border-bottom-color: #f5f5f5;
	border-width: 15px;
	margin-left: -15px;
}
.Experiencia-card:before {
	border-bottom-color: #00897B;
	border-width: 21px;
	margin-left: -21px;
}
.Experiencia-card a, .Experiencia-card a:focus, .Experiencia-card a:active, .Experiencia-card a:visited {
	color: #00897B;
}